.wrapper{
  --wrapper-max-width: 600px;
  --wrapper-padding: 10%;

  position: relative;
  width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding));
  margin-inline: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
}  
form{
  position: relative;
}

.profile-pic-container{
  position: relative;
  width: 200px;
  height: 180px;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 50px;
  /* margin-inline: auto; */
  /* margin-left: 300px; */
}

.profile-pic-container__label{
  margin-bottom: 4px;
}

.profile-pic-container__image-input-icon{
  cursor: pointer;
  position: absolute;
  right: -3px;
  top: 0px;
  font-size: 1.3rem;
}

.profile-pic-container__image{
  width: 100%;
  height: 100%;
  border-radius: inherit;
}


.details-list{
  /* padding-inline: 300px; */
  display: flex;
  flex-direction: column;
  gap: 10px
}

.detail{
  height: 100%;
}

.detail__label{
  display: inline;
  margin-right: 3px;
  font-size: 1rem;
  font-weight: 600;
}


.detail.logo-image-container{
  position: relative;
  width: fit-content;
  width: 140px;
  height: 130px;
  margin-bottom: 40px;
}

.detail.logo-image-container .detail__label{
  margin-bottom: 30px;
}

.logo-image-container__input-icon{
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 100;
}

.logo-image-container__img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin-top: 3px;
}

.detail__input{
  pointer-events:all;
  border: 1px solid rgba(0, 0, 0, 0.789);
  font-size: 1rem;
  color: rgb(86, 86, 86);
  padding: 8px 10px;
  width: 50%;
  border-radius: 5px;
}

.buttons-container{
  margin-left: auto;
  width: fit-content;
}


.buttons-container .button{
  padding: 6px 27px;
  border-radius: 3px;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 1rem;
}


.submit-btn{
  background-color: rgb(15, 185, 15);
}

.goto-landing-page-btn{
  background-color: rgb(220, 20, 20);
} 