:root{

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button{
  cursor: pointer;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  transition: 0.3s;
}

body.light-mode{
  --background-color: #e4e4e4;
  --accent-color: #1251FC;
  --text-color: black;
}

body.night-mode{
  --background-color: #292C35;
  --accent-color: #1251FC;
  --text-color: rgb(231, 231, 231);
}